[submodule "vim-plugins/vim-sensible"]
	path = vim-plugins/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim-plugins/molokai"]
	path = vim-plugins/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim-plugins/vim-gitgutter"]
	path = vim-plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-plugins/auto-pairs"]
	path = vim-plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim-plugins/vim-indent-guides"]
	path = vim-plugins/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim-plugins/vim-surround"]
	path = vim-plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-plugins/winresizer"]
	path = vim-plugins/winresizer
	url = https://github.com/jimsei/winresizer
[submodule "vim-plugins/vim-javascript"]
	path = vim-plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim-plugins/vim-fakeclip"]
	path = vim-plugins/vim-fakeclip
	url = https://github.com/kana/vim-fakeclip
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-plugins/vim-fugitive"]
	path = vim-plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
